<h1>Listing suggest_boxes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggest_boxes.each do |suggest_box| %>
      <tr>
        <td><%= suggest_box.name %></td>
        <td><%= suggest_box.email %></td>
        <td><%= suggest_box.comment %></td>
        <td><%= link_to 'Show', suggest_box %></td>
        <td><%= link_to 'Edit', edit_suggest_box_path(suggest_box) %></td>
        <td><%= link_to 'Destroy', suggest_box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suggest box', new_suggest_box_path %>
